.tag-item {
  float:left;
  background:#e8e8e8;
  margin: 2px;
  padding:5px;
  text-decoration: none;
}
.tag-item:hover {
  text-decoration: underline;
}
.content {
  margin: 15px 0 20px 0;
}
.image {
  width: 470px;
  margin: 0 auto;
}
.info {
  margin: 5px 0;
}
