<div class="block" *ngIf="post">
  <h2>{{post.title}}</h2>

  <div class="info">
    <span class="date">{{post.date}}</span>
  </div>

  <div class="image">
    <img src="{{post.imgSrc}}" class="center-h"/>
  </div>

  <div class="content">
    <p>{{post.content}}</p>
  </div>

  <div class="tags clearfix">
    <h3>Related Tags:</h3>
    <a *ngFor="let tag of post.tags" class="tag-item" routerLink="/tag/{{tag.id}}">{{tag.name}}</a>
  </div>
</div>
