
<!--current user block-->
<div class="block">
  <h3 class="feature">current user</h3>
  <p><b>{{curuser.firstName}} {{curuser.lastName}}</b></p>
  <p><i>role:</i> {{curuser.role.name}}
    <br>
    <i>login:</i> {{curuser.login}}
    <br>
  </p>
    <button (click)="logout()" class="btn btn-danger">log out</button>
</div>

<!-- users block -->
<div class="block" *ngIf="curuser.role.name == 'admin'">
  <h3>users</h3>
  <a routerLink="/admin/users">Users list</a>
  <a href="/admin/users/create">New User</a>
</div>

<!-- tags block -->
<div class="block" *ngIf="curuser.role.name == 'admin' || curuser.role.name == 'editor'">
  <h3>tags</h3>
  <a routerLink="/admin/tags">Tags list</a>
  <a href="/admin/tags/create">New Tag</a>
</div>

<!-- posts block -->
<div class="block">
  <h3>Posts</h3>
  <a routerLink="/admin/posts">Posts list</a>
  <a href="/admin/posts/create">New Post</a>
</div>
