<div class="block" *ngIf="userForm">
  <h2>User</h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
    <table border="0">
      <tr>
        <td>First Name</td>
        <td><input type="text" size="32" maxlength="24" formControlName="firstName" class="form-control"></td>
        <td><span *ngIf="formErrors.firstName" class="alert alert-danger">{{formErrors.firstName}}</span></td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td><input type="text" size="32" maxlength="24"  formControlName="lastName" class="form-control"></td>
        <td><span *ngIf="formErrors.lastName" class="alert alert-danger">{{formErrors.lastName}}</span></td>
      </tr>
      <tr>
        <td>Login<span class="red_asterix">*</span></td>
        <td><input type="text" size="32" maxlength="24" formControlName="login" class="form-control"></td>
        <td><span *ngIf="formErrors.login" class="alert alert-danger">{{formErrors.login}}</span></td>
      </tr>
      <tr>
        <td>e-mail<span class="red_asterix">*</span></td>
        <td><input type="text" size="32" maxlength="24"  formControlName="email" class="form-control"></td>
        <td><span *ngIf="formErrors.email" class="alert alert-danger">{{formErrors.email}}</span></td>
      </tr>
      <tr>
        <td>Password<span class="red_asterix">*</span></td>
        <td><input type="password" size="32" maxlength="24"  formControlName="pass" class="form-control"></td>
        <td><span *ngIf="formErrors.pass" class="alert alert-danger">{{formErrors.pass}}</span></td>
      </tr>
      <tr>
        <td>Role<span class="red_asterix">*</span></td>
        <td>
          <select size="1" formControlName="role" class="form-control" [compareWith]="byId">
            <option *ngFor="let role of roles" [ngValue]="role" >{{role.name}}</option>
          </select>
        </td>
        <td><span *ngIf="checkError('role', 'required')" class="alert alert-danger">required</span></td>
      </tr>
    </table>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{errorMessage}}
    </div>
    <br>
      <input type="button" (click)="goBack()" value="Cancel" class="btn btn-danger"/>
      <input type="submit"  value="Save"  class="btn" [disabled]="userForm.invalid" [class.btn-success]="userForm.valid"/>
  </form>
</div>
