<div>
  <h3>TAGS</h3>
  <a *ngFor="let tag of tagList" routerLink="/tag/{{tag.id}}" class="tag-item">{{tag.name}}</a>
</div>

<!--
<c:forEach var="tag" items="${tags}">
  <li><a href="/tag?id=${tag.id}">${tag.tagName}</a></li>
</c:forEach>-->
