<div class="block">
  <h2 class="feature">All posts</h2>
  <p>
    Order by:
  </p>
  <form action="/admin/postslist">
        <input type="radio" name="order" value="1" /> title |
        <input type="radio" name="order" value="2" /> date |
        <input type="radio" name="order" value="3" /> ordering |
        <input type="radio" name="order" value="4" /> author
    <input type="submit" value=" ok " />
  </form>

  <table border="0" width="100%" cellpadding="2" cellspacing="2">
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Date</th>
      <!--<th>Ordering</th>-->
      <th>Author</th>
      <th></th>
      <th></th>
    </tr>

      <tr *ngFor="let post of postDetails">
        <td><img src="{{post.iconSrc}}"/></td>
        <td>{{post.title}}</td>
        <td>{{post.date.toISOString().slice(0, 10)}}</td>
        <!--<td align="center">{{post.order}}</td>-->
        <td>{{post.user.login}}</td>
        <td align="center"><a href="/admin/postform?id=${post.id}" class="color-blue">update</a></td>
        <td align="center"><a href="/admin/postdelete?id=${post.id}" class="color-red">delete</a></td>
      </tr>

  </table>
</div>
