table {
  border-bottom: 2px solid #496184;
}
th {
  background:#496184;
  color:#fff;
  padding: 3px;
}
td {
  padding: 3px;

}
tr:nth-child(even) {
  background-color: #edf3fd;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
