:host {
  display: block;
  position: relative;
  background: white;
  margin-bottom: 15px;
  overflow: hidden;
  border-bottom: solid 1px #d9d9d9;
  border-right: solid 1px #d9d9d9;
}
.image {
  float: left;
  width: 250px;
  height: auto;
}
.content {
  margin-left: 250px;
  /*padding: 5px 10px 0 10px;*/
  /*border-top: 1px solid #fdadba;*/
}
h2 {
  padding: 5px 10px;
}
p {
  font-size: 14px;
  padding: 10px 15px;
  color: #a0a0a0;
}
a {
  font: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.info {
  text-align: right;
  padding: 0 15px 0 0;
}
