<div>
    <img src="{{postDetails.imgSrc}}" class="image">
  <div class="content">
    <h2><a routerLink="/post/{{postDetails.id}}">{{postDetails.title}}</a></h2>
    <p>{{postDetails.description}}</p>
    <div class="info">{{postDetails.date.toLocaleDateString('en-US', {day: 'numeric', month: 'long', year: 'numeric'})}}</div>
  </div>
</div>
