<div class="block" *ngIf="tag">
  <h2>Tag</h2>
    <table border="0">
      <tr>
        <td width="150px">Tag Name:</td>
        <td>{{tag.name}}</td>
      </tr>
    </table>
  <button (click)="cancel()" class="btn btn-danger">Cancel</button>
  <button (click)="delete()" class="btn btn-success">Delete</button>
</div>
