.small_post {
  overflow:hidden;
  margin-bottom:10px;
}
.small_post img{
  float:left;
}
.small_post a{
  font: inherit;
text-decoration: none;
}
.small_post a:hover{
  text-decoration: underline;
}
.content {
  margin-left: 70px;
}
