<h3>RECENT POSTS</h3>
<div class="small_post" *ngFor="let postInfo of postInfoList">
  <img src="{{postInfo.iconSrc}}" width="60" height="50" />
  <div class="content">
    <h4><a routerLink="/post/{{postInfo.id}}">{{postInfo.title}}</a></h4>
  </div>
</div>
