<header>
  <div class="container">
    <app-top-nav></app-top-nav>
  </div>
</header>

<section>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>

<footer>
  <div class="container"></div>
</footer>

<jaspero-alerts [defaultSettings]="alertOptions"></jaspero-alerts>
