.container {
  max-width: 1230px;
  margin: 0 auto;
  position: relative;
}
.container:after {
  content: "";
  display: block;
  clear: both;
}
header {
  background: #005689;
  border: 1px solid #005689;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
section {
  padding-top: 15px;
}
