<div class="block">
  <h2 class="feature">All users</h2>
  <table border="0" width="100%" cellpadding="2" cellspacing="2">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Login</th>
      <th>e-mail</th>
      <th>Roles</th>
      <th></th>
      <th></th>
    </tr>

    <tr *ngFor="let user of users">
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.login}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role.name}}</td>
      <td align="center"><a routerLink="/admin/users/update/{{user.id}}" class="color-blue">update</a></td>
      <td align="center"><a routerLink="/admin/users/delete/{{user.id}}" class="color-red">delete</a></td>
    </tr>

  </table>
</div>
