<div class="block">
  <h2>Tag</h2>
  <form [formGroup]="tagForm" (ngSubmit)="onSubmit(tagForm)">
    <table border="0">
      <tr>
        <td>Tag Name</td>
        <td><input type="text" name="tag" size="32" maxlength="24" formControlName="name" class="form-control"></td>
        <td>
          <span *ngIf="checkError('name', 'required')" class="alert alert-danger">required</span>
        </td>

      </tr>
    </table>

      <input type="button" (click)="goBack()" value="Cancel" class="btn btn-danger"/>
      <input type="submit"  value="Save"  class="btn" [disabled]="tagForm.invalid" [class.btn-success]="tagForm.valid"/>

  </form>
</div>
