<div class="block">
  <h2 class="feature">All tags</h2>
  <table border="0" width="60%" cellpadding="2" cellspacing="2">
    <tr>
      <th>Tag Name</th>
      <th></th>
      <th></th>
    </tr>

    <tr *ngFor="let tag of tags">
      <td>{{tag.name}}</td>
      <td align="center"><a routerLink="/admin/tags/update/{{tag.id}}" class="color-blue">update</a></td>
      <td align="center"><a routerLink="/admin/tags/delete/{{tag.id}}" class="color-red">delete</a></td>
    </tr>

  </table>
</div>
