<div class="block login" *ngIf="loginForm">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    <table border="0">
      <tr>
        <td></td>
        <td>
          <span class="alert"></span>
          <!--<span *ngIf="checkError('login', 'required')" class="alert alert-danger">required</span>-->
          <span *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</span>
        </td>
      </tr>
      <tr>
        <td>Login</td>
        <td><input type="text" size="32" maxlength="24" formControlName="login" class="form-control"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <span class="alert"></span>
          <!--<span *ngIf="checkError('pass', 'required')" class="alert alert-danger">required</span>-->
          <!--<span *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</span>-->
        </td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" size="32" maxlength="24"  formControlName="pass" class="form-control"></td>
        <tr>
          <td></td>
          <td style="text-align: right;"><input type="submit"  value="Ok"  class="btn" [disabled]="loginForm.invalid" [class.btn-success]="loginForm.valid"/></td>
        </tr>
    </table>
  </form>
</div>
