:host {
  display: block;
    position: relative;
}
:host:after {
  content: "";
  display: block;
  clear: both;
}

a {
  display: block;
  float: left;
  font-size: 16px;
  color: white;
  /*color: #5c5c5c;*/
  text-decoration: none;
  padding: 10px 16px;
  font-family:"Times New Roman", Times, serif;
}
a:hover {
  text-decoration: underline;
}
