* {
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, sans-serif;
  color: #717171;
  box-sizing: border-box;
}

@font-face {
  font-family: YanoneKaffeesatz-Regular;
  src: url('./assets/style/YanoneKaffeesatz-Regular.ttf');
}

body { background:#e9e9e9;}

h1, h2, h3, h4, h5, h6 {
  color: #535353;
  font-family: YanoneKaffeesatz-Regular, Verdana, Geneva, sans-serif;
  padding-bottom: 10px;
  font-weight: normal;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 10px;
}
h6 {
  font-size: 8px;
}


.block {
  display: block;
  background:#fff;
  padding:10px;
  margin-bottom:15px;
  border-bottom: solid 1px #d9d9d9;
  border-right: solid 1px #d9d9d9;
  position: relative;
  font-size: 14px;
  border-top: 1px solid #4bc6df;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.block h2 {
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: 1px dashed #c2c2c2;
  margin-bottom: 10px;
}
.block h3 {
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: 1px dashed #c2c2c2;
  margin-bottom: 10px;
  color: #005689;
}
.color-red {
  color: red;
}
.color-blue {
  color: blue;
}
