<div class="left-side-bar">
  <app-recent-block class="block"></app-recent-block>
</div>
<div class="right-side-bar">
  <app-search-block class="block"></app-search-block>
  <app-tags-block class="block clearfix"></app-tags-block>
  <app-archive-block class="block"></app-archive-block>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
